@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinking {
  0% {
    text-decoration: underline;
  }
}

.animation {
  animation: blinking steps(2) 1.5s infinite;
}

.load {
  animation-duration: 0.5s;
  animation-name: load-fade;
  /* animation-delay: 0.25s; */
  /* animation-fill-mode: backwards; */
}

@keyframes load-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
